.header{
	padding: 0;
	background-color: transparent;
	&__right{
		&_search{
			&:before{
				content: "";
				position: absolute;
				top: 7px;
				right: -15px;
				width: 1px;
				height: 16px;
				background-color: #D1D1D1;
			}
		}

	}
}
